<div class="container w-50 d-flex flex-column align-items-start mt-3">
  <div class = "w-100 d-flex align-items-center justify-content-start border-bottom border-info mb-3">
  <h1 class="text-start"><%= @article.title %>
  </h1>
  <%= link_to edit_article_path(@article), class:'m-3' do %>
    <i class="fa-solid fa-pen-nib fa-xl"></i>
  <% end %>
  <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@article.title}?" } do %>
    <i class="fa-solid fa-trash-can fa-xl"></i>
  <% end %>
  </div>
  <p class="text-start"> <%= @article.content %></p>
</div>
